<div class="modal fade" id="asset-modal-view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Asset</h4>
            </div>
            <div class="modal-body">
                
                <form action="{% url 'inventory:asset-create' %}" method="POST" role="form" id="category-form">
                    {% csrf_token %}
                    <div class="form-group">
                        {{asset_form.as_table}}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="javascript">
    $("#category-form").on('success', function(this){
        console.log("working");
        this.parent.modal('hide');
    })
</script>