
<div class="modal fade" id="spares-request-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Spares Request Form</h4>
            </div>
            <div class="modal-body">
                <p>If yoy supply a linked spares item, do not enter a name value.</p>
                <table>
                    <tbody>
                        <tr>
                            <th>Linked Spares:</th>
                            <td><input placeholder="Search..." class="form-control" type="search" id="spares" list="requested_spares_datalist">    
                            <datalist id="requested_spares_datalist"></datalist>
                            </td>
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td><input type="text" id="name" class="form-control" required></td>
                        </tr>
                        <tr>
                                <th>Unit:</th>
                                <td><input type="text" id="unit" class="form-control" required></td>
                            </tr>
                            <tr>
                                    <th>Quantity:</th>
                                    <td><input type="number" id="quantity" class="form-control" required></td>
                                </tr>
                            
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="addSparesRequest()">
                Create</button>
                <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#spares").keyup(function(){
        if($("#spares").val().length > 2){
            updateDatalist("spares", "spares", "requested_spares_datalist");
        }
    })
function addSparesRequest(){
    //validation
    if ($("#spares").val() != "" && !(checkInput("spares"))){
        addAlert("The spares string is not in the list", "warning");
    }else{
        $.ajax({
            method: "POST",
            url: "{% url 'ajax:spares-request' %}",
            data: {
                "csrfmiddlewaretoken": "{{csrf_token}}",
                "spares": $("#spares").val(),
                "name": $("#name").val(),
                "unit": $("#unit").val(),
                "quantity": $("#quantity").val()
            },
            success: function(result){
                if(result.success){
                    addAlert("Created spares successfully.", "info");
                    addHiddenInput(result.pk, "requested_spares[]", result.pk);
                    $("#spares-request-modal").modal("hide");
                }else{
                    addAlert("Failed to issue spares request, make sure form entry is complete", "danger");
                }
                    
            }
        });
    }

    
}
</script>
