{% extends "window.html" %}
{% block head_style %}
._item {
    background-color: #ccc;
    padding: 3px;
    min-height: 40px;
    max-width: 200px;
    margin: 3px;
}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6 well ">
            <h3>Create New Checklist:</h3>
            <form class="form form-group" method="POST" action="" onsubmit="return validateForm()">
                {% csrf_token %}
                <table class="table">
                {{form.as_table}}
                </table>
                <hr />
            <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>    
        <div class="col-sm-4">
            <h4>Tasks:</h4>
            <div id="task_list"></div>
            <p><textarea id="task" rows="3" cols="48"></textarea></p>
            <button type="button" onclick="addTask()" class="btn btn-warning">+ Add Task</button>
        </div>
        
    </div>
</div>
{% endblock %}
{% block body_script %}
    $("#id_creation_date").datepicker();
    
    
    function prepSectionUpdate(){
        var url = "{% url 'ajax:update_section' %}";
        var machine = $('#id_machine').val();
        var section = $('#id_section');
        updateSections(url, machine, section);
    }
    

    function prepSubUnitUpdate(){
        var url = "{% url 'ajax:update_subunit' %}";
        var section = $('#id_section').val();
        var subunit = $('#id_subunit');
        updateSubUnits(url, section, subunit);
    }
    
    
    function prepSubAssemblyUpdate(){
        var url = "{% url 'ajax:update_subassembly' %}";
        var subunit = $('#id_subunit').val();
        var subassembly = $('#id_subassembly');
        updateSubAssemblies(url, subunit, subassembly);
    }


    var task_count = 0;
    
    function addTask(){
            task_count += 1;
            var data = $("#task").val();
            var _id = "task_" + task_count;
            $("<input>").attr({
                        type: "hidden",
                        id: _id,
                        name: "tasks[]",
                        value: data
                    }).appendTo("form");
            
            var item = `<div class="_item" style="max-width:300px;" id="task_row_*">%<span style='float: right; font-size:20px;'><button onclick='removeTask("*")'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button></span></div>`.split("*").join(_id).replace("%", data);
            
            $("#task_list").append(item);
            
        }
    
        function removeTask(id){
            console.log(id);
            $("#task_row_*".replace("*", id)).remove();
            $("#*".replace("*", id)).remove();
        }

    function editTasks(data){
        $("#tasklist").append(
            "<p>" + num_tasks +". "+ $("#task").val() + "</p>"
        );
        $("#task").val("");
        num_tasks += 1;
    }

    function validateForm(){
        if(task_count == 0){
            alert("At least one task must be created");
            $("#task").css("border-color", "red");
            $("#task").focus();
            return false;
        }else{
            return true;
        }
    }

    
{% endblock %}