{% extends "window.html" %}
{% block content %}

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 well ">
            <h3>{{object.title}}:</h3>
            <p>Frequency: {{object.frequency}}</p>
            <p>Category: {{object.category}}</p>
            <p>Resolver: {{object.resolver}}</p>
            <p>Machine: {{object.machine}}</p>
            <p>SubUnit: {{object.subunit}}</p>
            <p>Tasks:</p>
            <table class="table">
                <tr>
                    <td>Description:</td>
                    <td>Completed:</td>
                </tr>
            {% for task in object.tasks.all %}
                <tr>
                <td>{{task.description}}</td> <td><input type="checkbox"></td>
                </tr>
            {% endfor %}
            </table>
            <form method="POST" action="" onsubmit="return validateForm()">
                {% csrf_token %}
                <table style="padding: 2px;">
                    <tr>
                        <td>User name:</td>
                        <td>    
                            <select name="user" class="form-control" id="user">
                                {% for user in users %}
                                <option value="{{user.username}}">{{user.username}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input class="form-control" type ='password' name="password" id="password" class="form control" >
                        </td>
                        <tr>
                            <td>Comments:</td>
                            <td><textarea class="form-control" rows=3 name="comment"></textarea>
                        </tr>
                    </tr>
                </table>
            <button type="submit" class="btn btn-primary" id="but">Complete</button>{{message}}
            </form>
            <button onclick="holdChecklist()" class="btn btn-info" >Hold</button>
            <div id="hidden" style="display: none;">
                <textarea  class="form-control" id="reason" class="form-control">Reason...</textarea>
            </div>
            
        </div>
        <div class="col-sm-4"></div>
    </div>
{% endblock %}
{% block body_script %}

    var holdCount = 0;

    function holdChecklist(){
        if(holdCount == 1){
            if($("#reason").text() == ""){
                addAlert("Please provide a reason for holding the checklist", "warning");
            }else{
                $.ajax({
                        method: "POST",
                        url:"{% url 'checklists:hold_checklist' pk=object.pk %}", 
                        data: {
                            "reason": $("#reason").text(),
                            "username": $("#user").val(),
                            "password":$("#password").val(),
                        },
                        success: function(result){
                            if(result["authenticated"]==true){
                                holdCount = 0;
                            window.location.href = "{% url 'maintenance:inbox' %}";
                            }else{
                                addAlert("The Authentication failed. Unable to Hold Checklist", "danger");
                            }
                        }
                });
            } 
        }else{
            $("#hidden").css("display", "block");
            holdCount += 1;
        }
    }

    function validateForm(){
        var failed = 0
        if($('input[name=password]').val() == ""){
            return false;
        }
        $("input[type=checkbox]").each(function(){
            if(this.checked != true){
                test = 1;
            }
        });
        if(test == 0){
            return true;
        }else{
            test = 0;
            addAlert("Not all tasks  have been completed.", "warning");
            return false;
        }
    }

{% endblock %}