{% extends "window.html" %}

{% block head_style %}
._item {
    background-color: #ccc;
    padding: 3px;
    min-height: 40px;
    max-width: 200px;
    margin: 3px;
}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6 well ">
            <h3>Update Checklist Form:</h3>
            <form class="form form-group" method="POST" action="" >
                {% csrf_token %}
                {{form.as_p}}
                
            <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
        <div class="col-sm-4" id="tasklist">
            <h4>Add Tasks:</h4>
            <div id="tasklist"></div>
            <p><textarea id="task" rows="3" cols="48"></textarea></p>
            <button type="button" onclick="addTask()" class="btn btn-warning">+ Add Task</button>
            <h4>Existing Tasks:</h4>
            <div id="tasklist">
                
            {% for task in object.tasks.all %}
                <div class="_item" id="_row_task_{{task.task_number}}">{{task.description}} <span style="float:right"><button  onclick="removeTask('task_{{forloop.counter}}')">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button></span></div>
            {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_script %}
    var task_count = {{ object.tasks.all.count }};

    function addTask(){
        task_count += 1;
        var data = $("#task").val();
        
        addItemToList("task_list", data, task_count, "removeTask(" + task_count + ")");
        addHiddenInput(task_count, "tasks[]", data);              
    }

    function removeTask(task){
        addHiddenInput("removed_" + task, "removed_tasks[]", task);        
        $("#task_list_item"+ task).remove();
                
    }
{% endblock %}