{% extends "window.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 well ">
            <h3>{{object.title}}:</h3>
            <p>Frequency: {{object.frequency}}</p>
            <p>Category: {{object.category}}</p>
            <p>Resolver: {{object.resolver}}</p>
            <p>Machine: {{object.machine}}</p>
            <p>SubUnit: {{object.subunit}}</p>
            <br />
            <h4>Tasks:</h4>
            <hr />
            {% for task in object.tasks.all %}
                <p>{{forloop.counter}}.    {{task.description}}</p>
            {% endfor %}
           
        </div>
        <div class="col-sm-4">
            <h3>Comment History:</h3>
            <table class="table">
            {% for comment in object.comments.all %}
                <tr>
                    <th>{{forloop.counter}}.</th>
                </tr>
                <tr>
                    <th>Author:</th>
                    <td>{{comment.author}}</td>
                </tr>
                <tr>
                    <th>Comment content:</th>
                    <td>{{comment.content}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}