{% extends "window.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6 well ">
            <h3>Create New Checklist:</h3>
            <form class="form form-group" method="POST" action="" onsubmit="return validateForm()">
                {% csrf_token %}
                <table class="table">
                {{form.as_table}}
                </table>
                <hr />
            <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>    
        <div class="col-sm-4">
            <h4>Tasks:</h4>
            <div id="tasklist"></div>
            <p><textarea id="task" rows="3" cols="48"></textarea></p>
            <button type="button" onclick="addTask()" class="btn btn-warning">+ Add Task</button>
        </div>
        
    </div>
</div>
{% endblock %}
{% block body_script %}
    $("#id_creation_date").datepicker();
    
    var num_tasks = 0;

    function prepSubUnitUpdate(){
        var url = "{% url 'ajax:update_subunit' %}";
        var machine = $('#id_machine').val();
        var subunit = $('#id_subunit');
        updateSubUnits(url, machine, subunit);
    }
    
    function prepSubAssemblyUpdate(){
        var url = "{% url 'ajax:update_subassembly' %}";
        var subunit = $('#id_subunit').val();
        var subassembly = $('#id_subassembly');
        updateSubAssemblies(url, subunit, subassembly);
    }


    function addTask(){
        $.post("{% url 'checklists:add_task' %}", data={"task":$("#task").val()}, editTasks(data));

    }

    function editTasks(data){
        $("#tasklist").append(
            "<p>" + num_tasks +". "+ $("#task").val() + "</p>"
        );
        $("#task").val("");
        num_tasks += 1;
    }

    function validateForm(){
        if(num_tasks == 0){
            return false;
        }else{
            return true;
        }
    }

    
{% endblock %}