{% extends 'window.html' %}
{% block content %}
<style>
    .time {
        background-color: #337ab7;; 
        color:white; 
        padding:5px; 
        margin:2px;
        min-width: 100px;
        min-height: 20px;
        text-align: center;
        border-bottom: 1px solid white;
    }

    .task {
        border: 1px solid blue;
        min-width: 400px;
        text-align: center;
    }
    .item{
        border: 1px solid #337ab7;
        padding: 5px;
    }
    .title{
        padding: 2px;
        height: 40px;
        font-size: 24px;

    }

    .white-link{
        color: white;
        text-decoration: none;
    }
</style>
    <div class="row">
        <div class="col-sm-3 well">
            <h2>Day View:</h2><hr />
            <h3>Select view</h3>
            {% if mode == "maintenance" %}
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-month' year=day.date.year month=day.date.month %}" >Month</a>
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-week' year=day.date.year month=day.date.month week=1 %}">Week</a>
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-day' year=day.date.year month=day.date.month day=day.date.day %}">Day</a>
            {% else %}
            <a  class="btn btn-primary" href = "{% url 'planning:production-month' year=day.date.year month=day.date.month %}" >Month</a>
            <a  class="btn btn-primary" href = "{% url 'planning:production-week' year=day.date.year month=day.date.month week=1 %}">Week</a>
            <a  class="btn btn-primary" href = "{% url 'planning:production-day' year=day.date.year month=day.date.month day=day.date.day %}">Day</a>
            {% endif %}
            <div class="bg-info">
                <form action="" method="GET" role="form">
                    <legend>Filters</legend>
                
                    <div class="form-group">
                        <table>
                            {{form.as_table}}
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary" >
                <div class="panel-heading ">
                    <h3>{{day.weekday.1}}, {{day.date}}</h3>
                </div>
                <div class="panel-body">
                    {% if day.agenda.length == 0 %}
                        <p>There are no tasks scheduled for this day</p>
                    {% else %}
                        
                            <div>
                                    {% for task in day.agenda %}
                                    {% if task.get_type == 'checklist' %}
                                    <div class="item">
                                        <div class="bg-primary title">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> | {{task|truncatechars:50}}
                                        <span style="float:right">| <a class="white-link" href="{% url 'checklists:checklist_details' pk=task.pk %}">Details</a></span>
                                        </div>
                                        <div class="body">
                                            <p>Resolver: {{task.resolver}}</p>
                                            <p>Machine: {{task.machine}}</p>
                                            <p>Category: {{task.category}}</p>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if task.get_type == 'job' %}
                                    
                                    <div class="item">
                                            <div class="bg-primary title">
                                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> | {{task|truncatechars:50}}
                                            <span style="float:right">| <a class="white-link" href="{% url 'jobcards:complete-preventative-task' pk=task.pk %}">Details</a></span>
                                            </div>
                                            <div class="body">
                                                <p>Resolver(s):</p>
                                                    <ul>
                                                        {% for r in task.assignments.all %}
                                                        <li>{{r.username}}</li>
                                                        {% endfor %}
                                                    </ul>
                                                <p>Machine: {{task.machine}}</p>
                                                <p>Frequency: {{task.frequency}}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}
{% block body_script %}
$("#id_date").datepicker();
{% endblock %}