{% extends 'window.html' %}
{% block content %}
<style>
    .time {
        background-color: #337ab7;; 
        color:white; 
        padding:5px; 
        margin:2px;
        min-width: 100px;
        min-height: 20px;
        text-align: center;
        border-bottom: 1px solid white;
    }

    .task {
        border: 1px solid blue;
        min-width: 400px;
        text-align: center;
    }
</style>
    <div class="row">
        <div class="col-sm-3 well">
            <h2>Day View:</h2><hr />
            <h3>Select view</h3>
            {% if mode == "maintenance" %}
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-month' year=day.date.year month=day.date.month %}" >Month</a>
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-week' year=day.date.year month=day.date.month week=1 %}">Week</a>
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-day' year=day.date.year month=day.date.month day=day.date.day %}">Day</a>
            {% else %}
            <a  class="btn btn-primary" href = "{% url 'planning:production-month' year=day.date.year month=day.date.month %}" >Month</a>
            <a  class="btn btn-primary" href = "{% url 'planning:production-week' year=day.date.year month=day.date.month week=1 %}">Week</a>
            <a  class="btn btn-primary" href = "{% url 'planning:production-day' year=day.date.year month=day.date.month day=day.date.day %}">Day</a>
            {% endif %}
            <div class="bg-info">
                <form action="" method="GET" role="form">
                    <legend>Filters</legend>
                
                    <div class="form-group">
                        <table>
                            {{form.as_table}}
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary" >
                <div class="panel-heading ">
                    <h3>{{day.weekday.1}}, {{day.date}}</h3>
                </div>
                <div class="panel-body">
                    {% if day.agenda.length == 0 %}
                        <p>There are no tasks scheduled for this day</p>
                    {% else %}
                        
                            <table class="table-striped">
                                <col width="50">
                                <col width="300">
                                <thead>
                                    <tr>
                                        <th class="time">Item #</th>
                                        <th class="time">Resolver/Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for task in day.agenda %}
                                    <tr>
                                        <td class="time">{{forloop.counter}}</td>
                                        {% if task.get_type == 'checklist' %}
                                        <td class="task"><a href="{% url 'checklists:checklist_details' pk=task.pk %}">{{task|truncatechars:60}}</a></td>
                                        {% elif task.get_type == 'job' %}
                                        <td class="task"><a href="{% url 'jobcards:planned_job_detail' pk=task.pk %}">{{task|truncatechars:60}}</a></td>
                                        {% endif %} 
                                              
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}
{% block body_script %}
$("#id_date").datepicker();
{% endblock %}