
{% extends 'window.html' %}
{% block content %}
<style>
    .heading {
        margin:5px;
        padding: 5px;
        min-width: 150px;
        min-height: 50px;
        font-size: 24px;
        text-align: center;
    }
    .week {
        min-height: 75px;
        width: 100x;
        background-color: grey;
        color: white;   
        font-size: 24px;
        text-align: center;
        border-bottom: 10px solid white;
    }

    .week > a{
        color: white;
    }
</style>

            <div class="btn-toolbar" role="toolbar">
                
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3 well">
            <h2>Month View:</h2>
            <hr />
            <h4>Key:</h4>
            <p><span style="color:white; background-color:#0f0; min-width:50px; display:inline-block;">.</span> - Checklists</p>
            <p><span style="color:white; background-color:yellow; min-width:50px; display:inline-block;">.</span> - Planned Jobs</p>
            <p><span style="color:white; background-color:grey; min-width:50px; display:inline-block;">.</span> - Orders</p>
            <h3>Select view.</h3>
            <hr />
            {% if mode == "maintenance" %}
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-month' year=month.year month=month.month %}" >Month</a>
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-week' year=month.year month=month.month week=1 %}">Week</a>
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-day' year=month.year month=month.month day=1 %}">Day</a>
            {% else %}
            <a  class="btn btn-primary" href = "{% url 'planning:production-month' year=month.year month=month.month %}" >Month</a>
            <a  class="btn btn-primary" href = "{% url 'planning:production-week' year=month.year month=month.month week=1 %}">Week</a>
            <a  class="btn btn-primary" href = "{% url 'planning:production-day' year=month.year month=month.month day=1 %}">Day</a>
            {% endif %}

        <div class="bg-info">
            <form action="" method="GET" role="form">
                <legend>Filters</legend>
            
                <div class="form-group">
                    <table>
                        {{form.as_table}}
                    </table>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
        </div>
        <div class="col-sm-9">
            <table>
                <tr>
                    <td></td>
                    <td class="bg-primary heading">Monday</td>
                    <td class="bg-primary heading">Tuesday</td>
                    <td class="bg-primary heading">Wednesday</td>
                    <td class="bg-primary heading">Thursday</td>
                    <td class="bg-primary heading">Friday</td>
                    <td class="bg-primary heading">Saturday</td>
                    <td class="bg-primary heading">Sunday</td>
                </tr>
                <tr>
                    {% for week in month.month_agenda %}
                        <tr>
                            <td class="week"><a href="{% url 'planning:maintenance-week' year=month.year month=month.month week=forloop.counter0 %}"><h4>Week {{forloop.counter}}<h4></a></td>
                            {% for day in week %}
                                <td>
                                    <svg width="150" height="100">
                                        
                                        
                                        <rect width="150" height="100" style="fill:rgb(0,126,255);fill-opacity:0.7;stroke-width:3;stroke:rgb(255,255,255);" />
                                            <a href="{% url 'planning:maintenance-day'  year=day.date.year month=day.date.month day=day.date.day %}">
                                                {% if day.date.month != month.month %}
                                                    <text x="120" y="95" style="font-size: 24px;fill:rgb(200,200,200)">{{day.date.day}}</text>
                                                {% else %}
                                                    <text x="120" y="95" style="font-size: 24px;fill:rgb(255,255,255)">{{day.date.day}}</text>
                                                {% endif %}
                                            </a>

                                            {% if day.checklist_count > 0 %}
                                            <a href="{% url 'maintenance:planned-maintenance' %}">
                                                <polygon points="10,0 10,50 20,40 30,50 30,0" style="fill:rgb(0,255,0);stroke:rgb(0,255,0);stroke-width:1;" />
                                                <text x="10" y="40" style="font-size: 24px;fill:rgb(0,0,255)">{{day.checklist_count}}</text>
                                            </a>
                                            {% endif %}

                                            {% if day.job_count > 0 %}
                                                <a href="{% url 'maintenance:inbox' %}">
                                                    <polygon points="40,0 40,50 50,40 60,50 60,0" style="fill:rgb(255,255,0);stroke:rgb(255,255,0);stroke-width:1;" />
                                                    <text x="40" y="40" style="font-size: 24px;fill:rgb(0,0,255)">{{day.job_count}}</text>
                                                <a>
                                            {% endif %}
                                        
                                            {% if day.order_count > 0 %}
                                                <a href="{% url 'inventory:order-list' %}">
                                                    <polygon points="10,0 10,50 20,40 30,50 30,0" style="fill:rgb(0,255,255);stroke:rgb(0,255,255);stroke-width:1;" />
                                                    <text x="10" y="40" style="font-size: 24px;fill:rgb(0,0,255)">{{day.order_count}}</text>
                                                <a>
                                            {% endif %}
                                        
                                    </svg>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
{% block body_script %}
    $("#month_select").datepicker();

    function selectMonth(){
        var data_list = $("#month_select").val().split("/");
        console.log(data_list);
        var arg_string = "year=" + data_list[2] + " month=" + data_list[0];
        window.location = "planning/production-month/" + data_list[2] + "/" +data_list[0]
       
    }
{% endblock %}