
{% extends 'window.html' %}
{% block content %}
<style>
    .heading {
        font-size: 24px;
        text-align: center;
        background-color: rgb(84, 203, 230);
        color: rgb(255, 255, 255);
    }
    .week {
        background-color: rgb(84, 203, 230);
        color: rgb(255, 255, 255);   
        font-size: 24px;
        text-align: center;
        
    }

    .week > a{
        color: rgb(255, 255, 255);
    }

    .day {
        height: 150px;
        margin: 0px;
    }

    .head {
        max-height: 50px;
    }

    .badge-link {
        text-decoration: none;
        color: white;
    }

    .badge {
        background-color: rgb(83, 203, 230);
    }
    .glyphicon {
        font-size: 24px;
        color:blue;
    }
</style>

    <div class="row">
        <div class="col-sm-3 well">
            <h2>Month View:</h2>
            <h3>{{month_string}}</h3>
            <hr />
            <h4>Key:</h4>
            <p>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
             - Checklists</p>
            <p>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
             - Planned Jobs</p>
            <h3>Select view.</h3>
            <hr />
            {% if mode == "maintenance" %}
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-month' year=month.year month=month.month %}" >Month</a>
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-week' year=month.year month=month.month week=1 %}">Week</a>
            <a  class="btn btn-primary" href = "{% url 'planning:maintenance-day' year=month.year month=month.month day=1 %}">Day</a>
            {% else %}
            <a  class="btn btn-primary" href = "{% url 'planning:production-month' year=month.year month=month.month %}" >Month</a>
            <a  class="btn btn-primary" href = "{% url 'planning:production-week' year=month.year month=month.month week=1 %}">Week</a>
            <a  class="btn btn-primary" href = "{% url 'planning:production-day' year=month.year month=month.month day=1 %}">Day</a>
            {% endif %}

        <div class="bg-info">
            <form action="" method="GET" role="form">
                <legend>Filters</legend>
            
                <div class="form-group">
                    <table>
                        {{form.as_table}}
                    </table>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
        </div>
        <div class="col-sm-9">
            <table>
                <col width="100">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
                <tr>
                    <td class="heading"></td>
                    <td class=" heading">Monday</td>
                    <td class=" heading">Tuesday</td>
                    <td class=" heading">Wednesday</td>
                    <td class=" heading">Thursday</td>
                    <td class=" heading">Friday</td>
                    <td class=" heading">Saturday</td>
                    <td class=" heading">Sunday</td>
                </tr>
                <tr>
                    {% for week in month.month_agenda %}
                        <tr>
                            <td class="week" style="height: 150px;"><a href="{% url 'planning:maintenance-week' year=month.year month=month.month week=forloop.counter0 %}"><h4>Week {{forloop.counter}}<h4></a></td>
                            {% for day in week %}
                                <td>
                                        <div class="panel panel-info day">
                                                <div class="panel-heading head">
                                                        <h4><a href="{% url 'planning:maintenance-day'  year=day.date.year month=day.date.month day=day.date.day %}">
                                                                {% if day.date.month != month.month %}
                                                                    <span style="color:#999;">{{day.date.day}}</span>
                                                                {% else %}
                                                                    {{day.date.day}}
                                                                {% endif %}
                                                            </a></h4>
                                                  </div>
                                                <div class="panel-body ">
                                                    {% if day.job_count > 0 %}  
                                                    <p>
                                                      
                                                      
                                                      <span class="badge">
                                                            <a class="badge-link" href="{% url 'planning:maintenance-day' year=day.date.year month=day.date.month day=day.date.day %}?machine=&resolver=&planned_jobs=on&date={{day.date|date:"m/d/Y"}}">
                                                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                                                {{day.job_count}}
                                                            </a>
                                                        </span>
                                                      </p>
                                                      {% endif %}
                                                      
                                                      
                                                      {% if day.checklist_count > 0 %}
                                                      <p>
                                                      
                                                      <span class="badge">
                                                            <a class="badge-link" href="{% url 'planning:maintenance-day' year=day.date.year month=day.date.month day=day.date.day %}?machine=&resolver=&checklists=on&date={{day.date|date:"m/d/Y"}}">
                                                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{{day.checklist_count}}
                                                            </a>
                                                      </span>  
                                                    </p>
                                                      {% endif %}
                                                </div>
                                                
                                          </div>
                                          
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
{% block body_script %}
    $("#month_select").datepicker();

{% endblock %}