{% extends 'window.html' %}
{% block content %}
<style>
    .time{
        border-bottom: 1px solid white;
        background-color: #337ab7;
        margin: 2px;
        padding: 5px;
        min-width: 100px;
        min-height: 40px;
        color: white;

    }
    .items{
        border: 1px solid #337ab7;
        margin: 2px;
        padding: 5px;
    }
    .heading {
        margin:2px;
        padding: 5px;
        min-width: 150px;
        height: 50px;
        font-size: 18px;
        background-color: #337ab7;
        color: white;
    }
</style>
<div class="row">        
    <div class="col-sm-3 well">
        <h2>Week Starting: {{week.days.0}}</h2>
        <hr />
        <h3>Select View:</h3>
        <hr />
        <a  class="btn btn-primary" href = "{% url 'planning:maintenance-month' year=week.year month=week.month %}" >Month</a>
        <a  class="btn btn-primary" href = "{% url 'planning:maintenance-week' year=week.year month=week.month week=1 %}">Week</a>
        <a  class="btn btn-primary" href = "{% url 'planning:maintenance-day' year=week.year month=week.month day=1 %}">Day</a>
    </div>
    <div class="col-sm-9">
        <table>
                <thead>
                    <tr id="titles">
                        <th class="heading">Monday</th>
                        <th class="heading">Tuesday</th>
                        <th class="heading">Wednesday</th>
                        <th class="heading">Thursday</th>
                        <th class="heading">Friday</th>
                        <th class="heading">Saturday</th>
                        <th class="heading">Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for day in week.week_agenda %}
                            <td>
                                {% for task in day.agenda %}
                                    <p class="items">{{task|truncatechars:60}}</p>
                                {% endfor %}
                            </td>    
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
    </div>
</div>
{% endblock %}