{% extends "window.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 well ">
            <h3> Machine Form:</h3>
            <form class="form form-group" method="POST" action="" >
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm-4">
            <h4>Tools:</h4>
            <a class="btn btn-info" href="{% url 'inventory:asset-create' %}">Create Asset</a>
            <p><a class="btn btn-primary" data-toggle="modal" href='#run-data-modal'>Add RunData</a></p>
            
        </div>
    </div>
</div>
{% include "inv/modals/add_run_data.html" %}
{% endblock %}
{% block body_script %}
$("#id_commissioning_date").datepicker({changeMonth:true,
                                        changeYear: true,
                                        showButtonPanel:true});
{% endblock %}