<!DOCTYPE html>
<html>
    <head>
        <title>{% block _title %}{% endblock %}</title>
        {% load static %}
        <meta name="charset" content="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <style>{% block _head_style %}{% endblock %}
                .helptext {
                    display: none;
                }
        </style>
        <link rel="stylesheet" href="{% static 'common_base/bootstrap/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'common_base/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}">
        <link rel="stylesheet" href="{% static 'common_base/jquery-ui-1.12.1.custom/jquery-ui.structure.css' %}">
    </head>
    <body style="background-image: url( {% static 'common_base/bg.gif' %}); ">
        {%block _content %}
        {% endblock %}
        
        <script src="{% static 'common_base/jquery-2.2.2.js' %}" ></script>
        <script src="{% static 'common_base/bootstrap/js/bootstrap.min.js' %}" ></script>
        <script src="{% static 'ajax/ajax_forms.js' %}"></script>
        <script src="{% static 'common_base/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
        <script src="{% static 'common_base/jquery.form.js' %}"></script>
        <script>{%block _body_script %}{% endblock %}</script>
    </body>
</html>