{% extends "base.html" %}
{% block _content %}
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'login' %}">PlantWare</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <ul class="nav navbar-nav ">
                        <li><a href="{% url 'maintenance:machine-overview' %}">Browse</a></li>
                        <li><a href="{% url 'jobcards:jobs' %}">Maintenance Summary</a></li>
                        <li><a href="{% url 'maintenance:inbox' %}">Inbox</a></li>
                        <li><a href="{% url 'machine-learning:home' %}">Ins!ghts</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">calendar<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'planning:maintenance-month' year=2017 month=03 %}">Maintenance calendar</a></li>
                                <li><a href="{% url 'planning:production-month' 2017 '03' %}">Production calendar</a></li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>
        
    <article>
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </article>
    <footer class="footer footer-fixed-bottom bg-primary">
        <p>Copyright 2017, All rights reserved</p>
        <ul>
            <li><a href="{% url 'logout' %}" style="color:white;">Logout</a></li>
            <li><a href="{% url 'inventory:inventory-home' %}" style="color:white;">Inventory Control</a></li>
            <li><a href="{% url 'maintenance:planned-maintenance' %}" style="color:white;">Planned Maintenance</a></li>
        </ul>
        

    </footer>
{% endblock %}
{% block _title %}
    {% block title %}{% endblock %}
{% endblock %}
{% block _head_style %}
    {% block head_style %}{% endblock %}
{% endblock %}
{% block _body_script %}
    {% block body_script %}{% endblock %}
{% endblock %}