{% extends "window.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 well ">
            <h3> Asset Form:</h3>
            <form class="form form-group" method="POST" action="" >
                {% csrf_token %}
                <table>
                {% for field in form %}
                    <tr>
                        {% if field.label == "Spares list" %}
                        <th><a class="btn btn-primary" href="{% url 'inventory:spares-create' %}">{{field.label}}</a></th>
                        {% else %}
                        <th>{{field.label_tag}}</th>
                        {% endif %}
                        <td>{{field}}</td>
                    </tr>
                    {% endfor %}
                </table>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}