{% extends "window.html" %}
{% block head_style %}
row li{
             list-style-type: none; 
             padding: 2px;
             min-width: 200px;
             
         }
         ul {
             list-style-type: none; 
             margin: 2px;
         }
         ._item {
             display: block;
             padding: 5px;
             margin: 2px;
             min-height: 30px;
             min-width: 200px;
             background-color: #bbb;
             
         }
         span a{
             color: white;
         }

         #results {
             max-height: 300px;
             overflow-y: scroll;
         }

         .result-cell {
             min-height: 30px;
             padding: 3px;
             border-bottom: 1px solid white;
         }

         .result-links {
             
             color: white; 
             text-decoration: none;
             float: right;
         }
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 bg-info"> <h3>Inventory Search</h3>
            <div class="input-group">
                <input class="form-control" placeholder="make query here..." type="search" list="inv-data" id="id_inv">
                <span class="input-group-btn">
                        <button class="btn btn-primary" onclick="clearList()">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </button>
                </span>     
            </div>
            <div class="bg-info" id="results"></div></div>
        <div class="col-sm-6 well">
            <h3>Inventory classes</h3>
            
            <div class="bg-info" id="message" style="padding: 20px;">
                    <h5>Import csv file</h5>
                    <input type="file" name ="csv_file" id="id_csv_file" >
                    <button class="btn btn-success" onclick>Process file</button>
                <p>Not implemented yet</p> 
            </div>
            <p>Select a class below for item creation:</p>
            
                <center>
                    <div class="btn-group">
                            <a class="btn btn-primary roomy" href="{% url 'inventory:add_plant' %}">Add Plant</a>
                            <a class="btn btn-primary roomy" href="{% url 'inventory:add_machine' %}">Add Machine</a>
                            <a class="btn btn-primary roomy" href="{% url 'inventory:add_section' %}">Add Section</a>
                            <a class="btn btn-primary roomy" href="{% url 'inventory:add_subunit' %}">Add SubUnit</a>
                            <a class="btn btn-primary roomy" href="{% url 'inventory:add_subassembly' %}">Add Sub Assembly</a>
                            <a class="btn btn-primary roomy" href="{% url 'inventory:add_component' %}">Add Component</a>
                            <a class="btn btn-primary roomy" href="{% url 'inventory:spares-create' %}">Add Spares</a>
                    </div>
                </center>
                
                <hr />
                
                <ul>
                {%for machine in machines %}
                    <li><div class="_item" onclick = "reveal('#{{machine.unique_id|slugify}}', null)" >
                            {{machine}} 
                            <span style="float: right;">
                                <a href="{% url 'inventory:machine_details' machine.pk %}">Details</a> |
                                <a href="{% url 'inventory:edit_machine' pk=machine.pk %}" >Edit</a> | 
                                <a href="{% url 'inventory:delete_machine' machine.pk %}">Delete</a>
                            </span>
                        </div>
                    <ul id="{{machine.unique_id|slugify}}" style="display: none;" >
                            {% for section in machine.section_set.all %}
                            <li>
                                <div class="_item" onclick="reveal('#{{section.unique_id|slugify}}', 'subunit', '{{section.unique_id|slugify}}')">
                                    {{section}}
                                    <span style="float:right;">
                                            <a href="{% url 'inventory:section_details' section.pk %}">Details</a> |
                                            <a href="{% url 'inventory:edit_section' pk=section.pk %}" >Edit</a> | 
                                            <a href="{% url 'inventory:delete_section' section.pk %}">Delete</a>
                                    </span>
                                </div>
                                <ul id="{{section.unique_id|slugify}}" style="display:none;">
                                </ul>
                            </li>
                            {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
</div>
<div class="col-sm-3"></div>
</div>
</div>
{% endblock %}

{% block body_script %}
    function reveal(cls, level){
        var id = cls.replace("#", "");
        if(level == "subunit"){
            $.ajax({
                method: "POST",
                url: "{% url 'ajax:update_subunit' %}",
                data: {"section": id},
                success: function(result){
                    var html = "";
                    for(i in result.units){

                        html += `<li><div class='_item' onclick="reveal('#*', 'subassy')" >`.replace("*", result.units[i][0]) + result.units[i][1] + `<span style='float:right'><a href="/inventory/subunit_details/*" >Details</a> | <a href="/inventory/edit_subunit/*" >Edit</a> | <a href="/inventory/delete_subunit/*">Delete</a></span></div><ul id="*" style="display: none;"></ul></li>`.split("*").join(result.units[i][0]);
                    }
                    $(cls).html(html);
                }
            })
        }else if(level == "subassy"){
            $.ajax({
                method: "POST",
                url: "{% url 'ajax:update_subassembly' %}",
                data: {"unit": id},
                success: function(result){
                    var html = "";
                    for(i in result.subassemblies){

                        html += `<li><div class='_item' onclick="reveal('#*', 'comp')" >`.replace("*", result.subassemblies[i][0]) + result.subassemblies[i][1] + `<span style='float:right'><a href="/inventory/subassembly_details/*">Details</a> | <a href=/"inventory/edit_subassembly/*">Edit</a> | <a href="/inventory/delete_subassembly/*">Delete</a></span></div><ul id="*" style="display: none;"></ul></li>`.split("*").join(result.subassemblies[i][0]);
                    }
                    $(cls).html(html);
                }
            })
        }else if(level == "comp"){
            $.ajax({
                method: "POST",
                url: "{% url 'ajax:update_component' %}",
                data: {"subassy": id},
                success: function(result){
                    var html = "";
                    for(i in result.components){

                        html += `<li><div class='_item' >` + result.components[i][1] + `<span style='float:right'><a href="/inventory/component_details/*">Details</a> | <a href="/inventory/edit_component/*">Edit</a> | <a href="/inventory/delete_component/*">Delete</a></span></div></li>`.split("*").join(result.components[i][0])
                    }
                    console.log("called");
                    $(cls).html(html);
                }
            })
        }


        if($(cls).css("display") == "block"){
            $(cls).css("display", "none");

        }else{
            $(cls).css("display", "block");
        }
        
    }


    function clearList(){
        $("#results").html("");
        $("#id_inv").val("");

    }
    $("#id_inv").keyup(function(){
        if($("#id_inv").val().length > 2){
            $.ajax({
                url: "{% url 'ajax:get-combos' %}",
                data: {"str": $("#id_inv").val(),
                        "model": "inv"},
                method:"POST",
                success: function(result){
                    var container
                    var container_content;
                    var _href;
                    var links;
                    var span;
                    $("#results").html("");
                    for(i in result.matches){
                        console.log(result.matches[i]);
                        container =$("<div></div>").attr({
                            class: "bg-primary result-cell",
                            id: result.matches[i][0],
                        });
                        
                        
                        
                        if(result.matches[i][3] == 0){
                            //component
                            _href= "/inventory/component_details/*".replace("*", result.matches[i][0]);
                            container_content = "Component: "  + result.matches[i][1] + " > " + result.matches[i][2];
                        }else if(result.matches[i][3] == 1){
                            //spares
                            _href= "/inventory/spares-details/*".replace("*", result.matches[i][0]);
                            container_content = "Spares: "  + result.matches[i][2] + " > " + result.matches[i][1];
                        }else if(result.matches[i][3] == 2){
                            //subassembly
                            _href = "/inventory/subassembly_details/*".replace("*", result.matches[i][0]);
                            container_content = "SubAssembly: "  + result.matches[i][1] + " > " + result.matches[i][2];
                        }
                        container.text(container_content);
                        
                        links = $("<a></a>").attr({
                            href: _href,
                            class: "result-links",
                        }).text("Details");


                        span = $("<span></span>").attr({
                            style: "float: right;"
                        }).html(links);
                        container.append(links);
                        container.appendTo("#results");

                    } 
                }
        
            })
        }
        return false;    
    })

{% endblock %}