{% extends "window.html" %}
{% block head_style %}
row li{
    list-style-type: none; 
    padding: 2px;
    min-width: 200px;
    
}
ul {
    list-style-type: none; 

}
.subunit {
    display: block;
    padding: 5px;
    margin: 2px;
    min-height: 30px;
    min-width: 200px;
    background-color: #ccc;
    
}
.struct {
    max-height: 400px;
    overflow-y: scroll;
}

.children{
    padding: 5px;
    margin: 2px;
    min-height: 30px;
    min-width: 200px;
    background-color: #ccc;
}

span  a{
    color: white;
}
{% endblock %}
{% block content %}
    {% for machine in object_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{machine.machine_name}} | <a href="{% url 'inventory:machine_details' pk=machine.pk %}">Details</a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 bg-info">
                    <h4>Statistics</h4>
                    <p>Number of units: {{machine.n_units}}</p>
                    <p><u>Breakdown Summary:</u></p>
                    <ul>
                        <li>Today: {{machine.n_breakdowns_today}}</li>
                        <li>This week: {{machine.n_breakdowns_weekly}}</li>
                        <li>This month: {{machine.n_breakdowns_monthly}}</li>
                        <li>In the past 6 months: {{machine.n_breakdowns_sixmonths}}</li>
                    </ul>
                    <p>Checklist coverage: {{machine.checklist_coverage}}%</p>
                    </div>
                <div class="col-sm-6">
                    <h3>Open Jobs: </h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Date created</td>
                                <td>Resolver</td>
                                <td>Description</td>
                                </tr>
                        </thead>
                        <tbody>
                            {% for job in work_orders %}
                                {% if job.machine == machine %}
                                    <tr>
                                        <td>{{job.execution_date}}</td>
                                        <td>{{job.assigned_to.first}}</td>
                                        <td>{{job.description|truncatechars:40}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="col-sm-3 bg-info struct">
                    <h4>Structure:</h4>
                    
                    
                    <ul>
                        {% for section in machine.section_set.all %}
                        <li><div class="subunit" onclick = "reveal('#{{section.unique_id|slugify}}', 'subunit','{{section.unique_id|slugify}}' )">
                                {{section.section_name}}
                                <span style="float: right;">
                                        <a href="{% url 'inventory:section_details' pk=section.unique_id %}">Details</a>
                                </span>
                            </div>
                        </li>
                        <ul id="{{section.unique_id|slugify}}" style="display: none;"></ul>    
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block body_script %}
function reveal(cls, level){
    var id = cls.replace("#", "");
    if(level == "subunit"){
        $.ajax({
            method: "POST",
            url: "{% url 'ajax:update_subunit' %}",
            data: {"section": id},
            success: function(result){
                var html = "";
                for(i in result.units){
                    html += `<li><div class='children' onclick="reveal('#*', 'subassy')" >`.replace("*", result.units[i][0]) + result.units[i][1] + `<span style='float:right'><a href="/inventory/subunit_details/*">Details</a></span></div><ul id="*" style="display: none;"></ul></li>`.split("*").join(result.units[i][0]);
                }
                $(cls).html(html);
            }
        })
    }else if(level == "subassy"){
        $.ajax({
            method: "POST",
            url: "{% url 'ajax:update_subassembly' %}",
            data: {"unit": id},
            success: function(result){
                var html = "";
                for(i in result.subassemblies){

                    html += `<li><div class='children' onclick="reveal('#*', 'comp')" >`.replace("*", result.subassemblies[i][0]) + result.subassemblies[i][1] + `<span style='float:right'><a href="/inventory/subassembly_details/*">Details</a></span></div><ul id="*" style="display: none;"></ul></li>`.split("*").join(result.subassemblies[i][0]);
                }
                $(cls).html(html);
            }
        })
    }else if(level == "comp"){
        $.ajax({
            method: "POST",
            url: "{% url 'ajax:update_component' %}",
            data: {"subassy": id},
            success: function(result){
                var html = "";
                for(i in result.components){

                    html += `<li><div class='children'>` + result.components[i][1] + `<span style='float:right'><a href="/inventory/component_details/*">Details</a></span></div></li>`.replace("*", result.components[i][0]);
                }
                console.log("called");
                $(cls).html(html);
            }
        })
    }


    if($(cls).css("display") == "block"){
        $(cls).css("display", "none");

    }else{
        $(cls).css("display", "block");
    }
    
}

{% endblock %}