<{% extends "window.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 well ">
            <h3>Component Form:</h3>
            <form class="form form-group" method="POST" action="" >
                {% csrf_token %}
                <table>
                {{form.as_table}}
                </table>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}
{% block body_script %}
    function getSubUnits(){
        $.post("{% url 'jobcards:update_subunit' %}", {"machine":$("#id_machine").val()}, function(data){
        
        var units =  "<option value='None'>------</option> ";

        for(i in data.units){
            units += "<option value='*'>".replace('*', data.units[i][0]) + data.units[i][1] + "</option>";
            
        }
        var subunit = $("#id_subunit");
        subunit.html(units);
        
    });
    }

    function getSubAssemblies(){
         $.post("{% url 'jobcards:update_subassembly' %}", data={"unit":$("#id_subunit").val()}, function(data){
        var units = "<option value='None'>------</option> ";

        for(i in data.subassemblies){
            units += "<option value='*'>".replace('*', data.subassemblies[i][0]) + data.subassemblies[i][1] + "</option>";
            
        }
        
        $("#id_subassembly").html(units);
        
    });
    }
{% endblock %}