{% extends "window.html" %}
{% block content %}

<style> 
    .heading {
        background-color: #99f;
        color: white;
        height: 50px;
        font-size: 16px;
    }

    .week {
        background-color: #ccc;
        width: 100px;
        font-size: 24px;
        border: 6px solid white;
        
    }
</style>
    
    
    <div class="row">
        <div class="col-sm-3 well">
            <h3>View:</h3>
            <a href="{% url 'production-calendar:month' 2017 '03' %}" class="btn btn-primary">Month</a>
            <a href="{% url 'production-calendar:week' 2017 '03' 1 %}" class="btn btn-primary">Week</a>
            <a href="{% url 'production-calendar:day' 2018 '03' 12 %}" class="btn btn-primary">Day</a>
    
            <h3>Select Date:</h3>
            <input class="form-control" type="text" placeholder="Select Date..." id="month_select"><hr />
            <button class="btn btn-primary" onclick="selectMonth()">Select Month</button>
            <hr />
            <a class="btn btn-primary" href="{% url 'inventory:new-inventory-item' %}">Add Order</a>
        </div>
        <div class="col-sm-9">
                <table>
                    <col width="75">
                    <col width="125">
                    <col width="125">
                    <col width="125">
                    <col width="125">
                    <col width="125">
                    <col width="125">
                    <col width="125">
                    <thead>
                        <tr>
                            <th class="heading">Week</th>
                            <th class="heading">Monday</th>
                            <th class="heading">Tuesday</th>
                            <th class="heading">Wednesday</th>
                            <th class="heading">Thursday</th>
                            <th class="heading">Friday</th>
                            <th class="heading">Saturday</th>
                            <th class="heading">Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in month %}
                        <tr>
                            <td class="week" ><center>Week {{forloop.counter}}</center></td>
                            {% for day in week %}
                                <td>
                                    <svg width="125" height="100">
                                        <rect width="125" height="100" style="fill:#007ACC;stroke-width:3;stroke:white;"></rect>
                                        <text x="95" y="95" style="fill:rgb(255,255,255);font-size:24px;">{{day.date.day}}</text>
                                        {% for task in day.agenda %}
                                            <rect x="3" y="3" width="119" height="20" style="fill:#575BB5;"></rect>
                                            <text x="3" y="20" >{{task|truncatechars:25}}</text>
                                        {% endfor %}
                                    
                                    </svg>

                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>

{% endblock %}