{% extends "base.html" %}
{% block _title %}
Login
{% endblock %}
{% block _content %}
{% load static %}
    <div class="jumbotron" style="background-image: url({% static 'plantlink.jpg' %});
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;">
        
        <h1>Welcome!</h1>
        <p>Hunyani inventory management login</p>
    </div>
    <div class="well">
        <form method="POST" action="{%url 'login' %}" class="form-inline">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="name" class="form-control">
            <input type="password" placeholder="password" name="pwd" class="form-control">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p>Don't have an account?<a href="{% url 'sign_up' %}">Sign up here.</a></p>        
        </div>
          
{% endblock %}