{% extends "base.html" %}
{% block _content%}
<div class="form-group">
    <input class="form-control" type="search" id="search" name="search" list="options">
    <datalist id="options">
        <option value="Val">
    </datalist>
    <button class="btn btn-primary" onclick="doSafer()">Do Safer</button>
    <button class="btn btn-success" onclick="prepAddItemToList()">Add to List</button>
    <button class="btn btn-default" onclick="hiddenField()">Add hiddenField</button>
</div>
<div id="list"></div>
<form>

</form>
        
        


{% endblock %}
{% block _body_script %}
function hiddenField(){
    _id = $("#search").val();

    addHiddenInput(_id, "tests[]", _id);
}

function doSafer(){
    
    var v = $("#search").val();
    var a = saferId(v);
}


function prepAddItemToList(){
    
    var v = $("#search").val();
    var attrs = {"style": "background-color: red;"};

    addItemToList("list", v, attrs, "removeItem()");
}
function removeItem(){
    alert("removed");
}

$("#search").keyup(function(){
    if($("#search").val().length > 2){
        updateDatalist("search", "component", "options");    
    }
    })
{% endblock %}

