{% extends "window.html" %}
{% block head_style %}
._item {
    background-color: #ccc;
    padding: 3px;
    min-height: 40px;
    max-width: 200px;
    margin: 3px;
}
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div id="work-order-details" class="col-sm-4 bg-info" style="padding: 10px;">
            <h3>Work Order Details</h3>
            <table class="table">
                <tr>
                    <th>Work Order Number</th>
                    <td>{{object.pk}}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{object.type}}</td>
                </tr>
                <tr>
                    <th>Machine</th>
                    <td>{{object.machine}}</td>
                </tr>
                <tr>
                    <th>Section</th>
                    <td>{{object.section}}</td>
                </tr>
                <tr>
                    <th>SubUnit</th>
                    <td>{{object.subunit}}</td>
                </tr>
                <tr>
                    <th>SubAssembly</th>
                    <td>{{object.subassembly}}</td>
                </tr>
                <tr>
                    <th>Component</th>
                    <td>{{object.component}}</td>
                </tr>
                <tr>
                    <th>Estimated Time</th>
                    <td>{{object.estimated_labour_time}}</td>
                </tr>
            </table>
            <hr />
            <b>Description:</b>
            <p>{{object.description}}</p>
            <p>Assigned To: {{object.assigned_to}}</p>
            {% if object.status == "requested" %}
            <button id="accept_button" type="button" class="btn btn-success" onclick="acceptJob()" >Accept Job</button>
            <p>Accept Job if you want to transfer it to another resolver.</p>
            {% endif %}
            <button id="transfer-button" class="btn btn-warning" onclick="transferJob()">Transfer to another Resolver</button>
        
        </div>
        <div class="col-sm-4 well ">
            <h3>Complete Work Order</h3>
            <form class="form-group" method="POST" action="" >
                {% csrf_token %}
                <table>
                {{form.as_table}}
                </table>
                {% for item in object.spares_issued.all %}
                    <input type="hidden" id="{{item.stock_id}}" name="spares_issued[]" value="{{item.stock_id}}" >
                {% endfor %}
                {% for item in object.spares_returned.all %}
                <input type="hidden" id="{{item.stock_id}}" name="spares_returned[]" value="{{item.stock_id}}" >
                {% endfor %}
            <button {% if object.status == "requested" %}disabled{% endif %} id="complete_button" type="button" onclick="completeJob()" class="btn btn-danger">Complete</button>

            </form>
            <!--dont delete datalists! -->
            <datalist id="spares_issued_datalist">

            </datalist>
            <datalist id="spares_returned_datalist">
                    
            </datalist>
        </div>
        <div class="col-sm-4">
            <div class="bg-info" style="padding: 10px;">
                    <h4>Spares Issued:</h4>
                    <table>
                            <tr>
                                    <th>Spares Issued:</th>
                                    <td>
                                    <div class="input-group">
                                        <input type="search" class="form-control" id="id_spares_issued" placeholder="Search" list="spares_issued_datalist">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" onclick="addIssued()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                        </span>
                                    </div>
                                    </td>
                                </tr>
                    </table>
                    <div id="id_spares_issued_list">
                        
                        {% for item in object.spares_issued.all %}
                        <div class="_item" id="row_{{item.stock_id}}">{{item.name}}<span style='float: right; font-size:20px;'><button onclick='removeIssued("{{item.stock_id}}")'>
                                <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
                                </button></span></div>
                        {% endfor %}
                    </div>
                    <hr />
                    <h4>Spares Returned:</h4>     
                    <table>
                        <tr>
                            <th>Spares Returned:</th>
                                <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="id_spares_returned" placeholder="Search" list="spares_returned_datalist">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" onclick="addReturned()">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                                </td>
                            </tr>
                        </table>
                    <div id="id_spares_returned_list">
                            {% for item in object.spares_returned.all %}
                            <div class="_item" id="row_{{item.stock_id}}">{{item.name}}<span style='float: right; font-size:20px;'><button onclick='removeIssued("{{item.stock_id}}")'>
                                    <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
                                    </button></span></div>
                            {% endfor %}    
                    </div>   
            </div>
            <h4>Tools:</h4>
            <p><a class="btn btn-primary" data-toggle="modal" href='#spares-modal'>Add Spares</a></p>
        </div>
    </div>
</div>

{% include "inv/engineering_inventory/create_update/spares_modal.html" %}
{% include "common_base/modals/login.html"%}
{% endblock %}
{% block body_script %}
$(document).ready(function(){
    $("#id_completion_date").datepicker();
    {% if object.status == "requested" %}
    $("#transfer-button").hide();
    {% endif %}
});


function transferJob(){
    //check if select exists
    if($("#user-choices").length){
        $.ajax({
            method:"POST",
            url: "{% url 'jobcards:transfer-job' %}",
            data: {
                "csrfmiddlewaretoken": "{{csrf_token}}",
                "job": "{{object.pk}}",
                "resolver": $("#user-choices").val()
            },
            success: function(result){
                window.location = "{% url 'jobcards:work-order-list' %}";
            }
        })
        
    }else{
        $.ajax({
            method: "GET",
            url: "{% url 'ajax:get-users' %}",
            success: function(result){
                var sel = $("<select>").attr({
                    "id": "user-choices",
                    "class": "form-control"    
                });
                for(i in result.users){
                    sel.append($("<option>").attr({
                        "value": result.users[i][0]    
                    }).text(result.users[i][1]));
                }
                $("#work-order-details").append(sel);
            }
        });
        
    }
    
}

function completeJob(){
    if($("#resolver_password").length){
        if($("#resolver_password").val() == ""){
            addAlert("Please provide a password", "info");
        }else{
            $.ajax({
                method: "POST",
                url: "{% url 'ajax:ajax-authenticate' %}",
                data: {
                    "csrfmiddlewaretoken": "{{csrf_token}}",
                    "username": "{{object.assigned_to.username}}",
                    "password": $("#resolver_password").val()
                },
                success: function(result){
                    if(result.authenticated == true){
                        addAlert("authenticated successfully", "info");
                        $("#complete_button").attr("type", "submit");
                        $("#resolver_password").remove();
                        $("#complete_button").removeAttr("onclick");
                        $("#complete_button").removeClass("btn-warning").addClass("btn-success");
                        $("#complete_button").text("Submit");

                    }else{
                        addAlert("You were not able to authenticate as {{object.assigned_to}}.", "danger");
                    }
                }
            })
        }
    }else{
        $("#complete_button").text("Authenticate");
        $("#complete_button").removeClass("btn-danger").addClass("btn-warning");

        var pass_form = $("<div>").append(
                $("<p>").text("Password:")
            ).append(
                $("<input>").attr({
            "type":"password",
            "id": "resolver_password"
        }))
        
        $("form").append(pass_form);
    }
}


function acceptJob(){
    $("#login-modal").modal("show");
}

function userLogin(){
    $.ajax({
        method: "POST",
        url: "{% url 'ajax:ajax-authenticate' %}",
        data: {
            "csrfmiddlewaretoken": "{{csrf_token}}",
            "username": $("#id_username").val(),
            "password": $("#id_password").val()
        },
        success: function(result){
            if(result.authenticated == true){
                $("#login-modal").modal("hide");
                if("{{object.assigned_to}}" != $("#id_username").val()){
                    addAlert("You authenticated as "+ $("#id_username").val() + " but the job was assigned to {{object.assigned_to}}. Transfer the job if you are now attending to it.", "info");
                    return true;
                }else{
                    if($("#accept_button").length){
                        //authenticate when first accepting a job
                        $.post("{% url 'jobcards:accept-job' %}", data={
                            "pk":"{{object.pk}}",
                            "csrfmiddlewaretoken": "{{csrf_token}}" });
                        $("#accept_button").remove();
                        $("#complete_button").removeAttr("disabled");
                        $("#transfer-button").show();
                    }else{
                        return true;
                    }
                    
                }
            }else{
                $("#login_message").text("Login Failed");
                return false;
            }
        },
        error: function(result){
            $("#login_message").text("Login Failed because of error.");
            return false;
        }
    });
}

$("#id_spares_issued").keyup(function(){
    if($("#id_spares_issued").val().length > 2){
        updateDatalist("id_spares_issued", "spares", "spares_issued_datalist");
        }
    })


$("#id_spares_returned").keyup(function(){
    if($("#id_spares_returned").val().length > 2){
        updateDatalist("id_spares_returned", "spares", "spares_returned_datalist"); 
    }
})

function addIssued(){
    var data = $("#id_spares_issued").val();
    if(checkInput("id_spares_issued")){
        addHiddenInput(data, "spares_issued[]", data);
        var id= saferId(data, true);
        addItemToList("id_spares_issued_list", data, id, "removeIssued('"+id+"')");
    }
}

function removeIssued(id){
    $("#id_spares_issued_list_item_" +id).remove();
    $("#"+id).remove();
}

function addReturned(){
    var data = $("#id_spares_returned").val();
    if(checkInput("id_spares_returned")){
        addHiddenInput(data, "spares_returned[]", data);
        var id = saferId(data, true);
        addItemToList("id_spares_returned_list", data, id, "removeReturned('"+id+"')");
    }
}


function removeReturned(id){
    $("#id_spares_returned_list_item_"+id).remove();
    $("#"+id).remove();
}

function addSpares(){
    $.ajax({
        method: "POST",
        url: "{% url 'inventory:spares-create' %}",
        data: { "name": $("#id_name").val(),
                "description": $("#id_description").val(),
                "stock_id": $("#id_stock_id").val(),
                "quantity": $("#id_quantity").val(),
                "reorder_level": $("#id_reorder_level").val(),
                "reorder_quantity": $("#id_reorder_quantity").val(),
                "last_order_price": $("#id_last_order_price").val(),
                "category": $("#id_category").val(),
                "csrfmiddlewaretoken": "{{csrf_token}}"
        },
        success: function(result){
            $("#spares-modal").modal("hide");
        },
        error: function(resp){
            console.log(resp);
        }
    })
}

{% endblock %}