{% extends "window.html" %}
{% block head_style %}
._item {
    background-color: #ccc;
    padding: 3px;
    min-height: 40px;
    max-width: 200px;
    margin: 3px;
}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 bg-info">
            <h4>Scheduled Task Description:</h4>
            <table>
                <tr>
                    <th>Machine</th>
                    <td>{{object.machine}}</td>
                </tr>
                <tr>
                    <th>Section</th>
                    <td>{{object.section}}</td>
                </tr>
                <tr>
                    <th>SubUnit</th>
                    <td>{{object.subunit}}</td>
                </tr>
                <tr>
                    <th>SubAssembly</th>
                    <td>{{object.subassembly}}</td>
                </tr>
                <tr>
                    <th>Component</th>
                    <td>{{object.component}}</td>
                </tr>
                <tr>
                    <th>Frequency</th>
                    <td>{{object.frequency}}</td>
                </tr>
            </table>
            <hr />
            <h4>Required_spares</p>
            {% for spares in object.required_spares.all %}
                <p>{{spares.stock_id}}</p>
            {% endfor %}
            <hr />
            <h4>Description:</h4>
            {{object.description}}
            <hr />
            <h4>Assigned to:</h4>
            {%for i in object.assignments.all %}
                <p>{{i.username}}</p>
            {% endfor %}
            <hr />
            <h4>Tasks</h4>
            <table class="table">
                {% for task in object.tasks.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{task.description}}</td>
                        <td><input type="checkbox" class="form-control" name="task_{{forloop.counter}}"></td>
                    </tr>
            
                 {% endfor %}
            </table>
            
        </div>
        <div class="col-sm-4 well ">
            <h3>Scheduled Maintenance Completion Form:</h3><hr />
            <form class="form form-group" method="POST" action="" onsubmit="return validateForm()">
                {% csrf_token %}
                <table class="table">
                {{form.as_table}}
                <tr>
                        <th>Spares Issued:</th>
                        <td>
                        <div class="input-group">
                            <input type="search" class="form-control" id="id_spares_issued" placeholder="Search" list="spares_issued_datalist">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="addIssued()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </span>
                        </div>
                        </td>
                    </tr>
                </table>
            <button type="submit" class="btn btn-primary">Complete</button>
            </form>
            <datalist id="spares_issued_datalist"></datalist>
        </div>
        <div class="col-sm-4">
                <div class="bg-info" style="padding: 10px;">
                    <h4>Spares Issued:</h4>
                    <div id="id_spares_issued_list"></div>
                    <hr />
                </div>
            <h4>Tools:</h4>
            <a class="btn btn-primary" data-toggle="modal" href='#spares-modal'>Add Spares</a>
        </div>
    </div>
</div>

{% include "inv/engineering_inventory/create_update/spares_modal.html" %}

{% endblock %}
{% block body_script %}

    $("#id_completed_date").datepicker();
    
    $("#id_spares_issued").keyup(function(){
        if($("#id_spares_issued").val().length > 2){
            $.ajax({
                url: "{% url 'ajax:get-combos' %}",
                data: {"str": $("#id_spares_issued").val(),
                        "model": "spares"},
                method:"POST",
                success: function(result){
                    console.log(result.matches);
                    var html = "";
                    for(i in result.matches){
                        html += "\n<option value='*' >".replace("*", result.matches[i]);
                    } 
                    $("#spares_issued_datalist").html(html);
                }
        
            })
        }
        return false;    
    })

    function addIssued(){
        var data = $("#id_spares_issued").val();
        
                $("<input>").attr({
                    type: "hidden",
                    id: data.replace(" ", ""),
                    name: "spares[]",
                    value: data
                }).appendTo("form");
        
                var item = `<div class="_item" id="row_*">*<span style='float: right; font-size:20px;'><button onclick='removeIssued("*")'>
                <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
                </button></span></div>`.split("*").join(data);
        
                $("#id_spares_issued_list").append(item);
    }

    function removeIssued(id){
        $("#row_*".replace("*", id.replace(" ", ""))).remove();
        $("#*".replace("*", id.replace(" ", ""))).remove();
    }

    function prepSectionUpdate(){
        var url = "{% url 'ajax:update_section' %}";
        var machine = $('#id_machine').val();
        var section = $('#id_section');
        updateSections(url, machine, section);
}


    function prepSubUnitUpdate(){
        var url = "{% url 'ajax:update_subunit' %}";
        var section = $('#id_section').val();
        var subunit = $('#id_subunit');
        updateSubUnits(url, section, subunit);
    }
    
function validateForm(){
        tasks = 0;
        console.log("called");
        $("input[type=checkbox]").each(function(){
            if(this.checked != true){
                tasks += 1;
            }
        });
        console.log(tasks);
        if(test == 0){
            return true;
        }else{
            
            alert(tasks + " tasks  have not been completed.")
            tasks = 0;
            return false;
        }
    }    
{% endblock %}