<!--LOging when opening a preventative task -->
{% extends "window.html" %}
{% block head_style %}
._item {
    background-color: #ccc;
    padding: 3px;
    min-height: 40px;
    max-width: 200px;
    margin: 3px;
}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 bg-info">
            <h4>Scheduled Task Description:</h4>
            <table class="table">
                <tr>
                    <th>Machine</th>
                    <td>{{object.machine}}</td>
                </tr>
                <tr>
                    <th>Section</th>
                    <td>{{object.section}}</td>
                </tr>
                <tr>
                    <th>SubUnit</th>
                    <td>{{object.subunit}}</td>
                </tr>
                <tr>
                    <th>SubAssembly</th>
                    <td>{{object.subassembly}}</td>
                </tr>
                <tr>
                    <th>Component</th>
                    <td>{{object.component}}</td>
                </tr>
                <tr>
                    <th>Frequency</th>
                    <td>{{object.frequency}}</td>
                </tr>
            </table>
            <hr />
            <h4>Required_spares</p>
            {% for spares in object.required_spares.all %}
                <p>{{spares.stock_id}}</p>
            {% endfor %}
            <hr />
            <h4>Description:</h4>
            {{object.description}}
            <hr />
            <h4>Assigned to:</h4>
            {%for i in object.assignments.all %}
                <p>{{i.username}}</p>
            {% endfor %}
            <hr />
            {% if object.assignments_accepted.all.count < object.assignments.all.count %}
                <div class="well" id="login">
                    <h4>Accept Job Form</h4>
                    <select id="resolver" class="form-control" >
                        {% for resolver in object.outstanding_responses %}
                        <option value="{{resolver.username}}">{{resolver.username}}</option>
                        {% endfor %}
                    </select>
                    <input type="password" id="pass" class="form-control">
                    <button class="btn btn-success" onclick="acceptTask()">Accept Task</button>
                </div>
            {% endif %}

            <h4>Tasks</h4>
            <table class="table">
                {% for task in object.tasks.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{task.description}}</td>
                        <td><input type="checkbox" class="form-control" name="task_{{forloop.counter}}"></td>
                    </tr>
            
                 {% endfor %}
            </table>
            
        </div>
        <div class="col-sm-4 well ">
            <h3>Scheduled Maintenance Completion Form:</h3><hr />
            <form class="form form-group" method="POST" action="" onsubmit="return validateForm()">
                {% csrf_token %}
                <table class="table">
                {{form.as_table}}
                
                </table>
                <button id="complete_button" type="button" onclick="completeJob()" class="btn btn-primary" {% if object.assignments_accepted.all.count == 0 %} disabled{% endif %} >Complete Work Order</button>
            </form>
            <datalist id="spares_issued_datalist"></datalist>
        </div>
        <div class="col-sm-4">
                <div class="bg-info" style="padding: 10px;">
                    <h4>Spares Issued:</h4>
                    <div class="input-group">
                        <input type="search" class="form-control" id="id_spares_issued" placeholder="Search" list="spares_issued_datalist">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" onclick="addIssued()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </span>
                    </div>
                    <div id="id_spares_issued_list"></div>
                    <hr />
                </div>
            <h4>Tools:</h4>
            <a class="btn btn-primary" data-toggle="modal" href='#spares-modal'>Add Spares</a>
        </div>
    </div>
</div>

{% include "inv/engineering_inventory/create_update/spares_modal.html" %}
{% include "common_base/modals/login.html"%}

{% endblock %}
{% block body_script %}

    $("#id_completed_date").datepicker();

    function acceptTask(){
        var user = $("#resolver").val();
        var pass = $("#pass").val();

        $.ajax({
            method:"POST",
            url: "{% url 'ajax:ajax-authenticate' %}",
            user: user,
            data:{"csrfmiddlewaretoken": "{{csrf_token}}",
                "username": user,
                "password": pass},
            success: function(result){
                if(result.authenticated == true){
                    $.ajax({
                        method: "POST",
                        url: "{% url 'jobcards:accept-p-task' %}",
                        data: {"csrfmiddlewaretoken": "{{csrf_token}}",
                            "pk": "{{object.pk}}",
                            "resolver": this.user
                        }, 
                        success: function(resp){
                            alert("Authenticated Successfully.");
                            $("#login").remove();
                            $("#complete_button").removeAttr("disabled");
                    }
                });
                    
                }else{
                    alert("Failed to authenticate as "+ user);
                }
            }
        });
    }
    
    function completeJob(){
        if($("#resolver_password").length){
            if($("#resolver_password").val() == ""){
                alert("Please provide a password");
            }else{
                $.ajax({
                    method: "POST",
                    url: "{% url 'ajax:ajax-authenticate' %}",
                    data: {
                        "csrfmiddlewaretoken": "{{csrf_token}}",
                        "username": $("#resolver_username").val(),
                        "password": $("#resolver_password").val()
                    },
                    success: function(result){
                        if(result.authenticated == true){
                            alert("authenticated successfully");
                            $("#complete_button").attr("type", "submit");
                            $("#resolver_password").remove();
                            $("#complete_button").removeAttr("onclick");
                        }else{
                            alert("You were not able to authenticate as "+ $("#resolver_username").val());
                        }
                    }
                })
            }
        }else{
            var pass_form = $("<div>").addClass("well");
            pass_form.append($("<h4>").text("Authenticate:"));
            var select_widget = $("<select>").attr({
                                                "id": "resolver_username",
                                                "class":"form-control",               
                                            });

            {% for r in object.assignments_accepted.all %}
            alert('{{r.username}}');
            select_widget.append($("<option>").text("{{r.username}}").attr("value", "{{r.username}}"));
            {% endfor %}
            pass_form.append(select_widget);
            pass_form.append($("<input>").attr({
                "type":"password",
                "class": "form-control",
                "id": "resolver_password"
            }));
            
            $("form").append(pass_form);
        }
    }
    
    $("#id_spares_issued").keyup(function(){
        if($("#id_spares_issued").val().length > 2){
            updateDatalist("id_spares_issued", "spares", "spares_issued_datalist");
        }
    })

    function addIssued(){
        var data = $("#id_spares_issued").val();
        if(checkInput("id_spares_issued")){
            addHiddenInput(data, "spares[]", data);
            var id = saferId(data, true);
            addItemToList("id_spares_issued_list", data, id, "removeIssued('"+id+"')");
        }
        
    }

    function removeIssued(id){
        $("#id_spares_issued_list_item_"+id).remove();
        $("#"+id).remove();
    }

    function prepSectionUpdate(){
        var url = "{% url 'ajax:update_section' %}";
        var machine = $('#id_machine').val();
        var section = $('#id_section');
        updateSections(url, machine, section);
}


    function prepSubUnitUpdate(){
        var url = "{% url 'ajax:update_subunit' %}";
        var section = $('#id_section').val();
        var subunit = $('#id_subunit');
        updateSubUnits(url, section, subunit);
    }
    
function validateForm(){
        tasks = 0;
        console.log("called");
        $("input[type=checkbox]").each(function(){
            if(this.checked != true){
                tasks += 1;
            }
        });
        console.log(tasks);
        if(test == 0){
            return true;
        }else{
            
            alert(tasks + " tasks  have not been completed.")
            tasks = 0;
            return false;
        }
    }
    function addSpares(){
        $.ajax({
            method: "POST",
            url: "{% url 'inventory:spares-create' %}",
            data: { "name": $("#id_name").val(),
                    "description": $("#id_description").val(),
                    "stock_id": $("#id_stock_id").val(),
                    "quantity": $("#id_quantity").val(),
                    "reorder_level": $("#id_reorder_level").val(),
                    "reorder_quantity": $("#id_reorder_quantity").val(),
                    "last_order_price": $("#id_last_order_price").val(),
                    "category": $("#id_category").val(),
                    "csrfmiddlewaretoken": "{{csrf_token}}"
            },
            success: function(result){
                $("#spares-modal").modal("hide");
            },
            error: function(resp){
                console.log(resp);
            }
        })
    }
{% endblock %}