{% extends "window.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <h4>Filters</h4>
        <form method="GET" action="{% url 'jobcards:jobs' %}">
        <div class="col-sm-3">
                <table>
                    <tr>
                        <td>Start Date:</td>
                    </tr>
                    <tr>
                        <td><input type="text" id="start_date" name="start_date" class="form-control"></td>
                    </tr>
                </table>
        </div>
        <div class="col-sm-3">
                <table>
                    <tr>
                        <td>End Date:</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="end_date" id="end_date" class="form-control"></td>
                    </tr>
                </table>
        </div>
        
        <div class="col-sm-3">
                <table>
                    <tr>
                        <td>Resolver:</td>
                    </tr>
                    <tr>
                        <td>{{resolver}}</td>
                    </tr>
                </table>
        </div>
        <div class="col-sm-3">
                <table>
                    <tr>
                        <td>Machine:</td>
                    </tr>
                    <tr>
                        <td>{{machine}}</td>
                    </tr>
                </table>
        </div>
        
                <button style="margin: 5px;" class="btn btn-primary">Filter</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 well ">
            <h3>Open Jobs:</h3>
            <a class="btn btn-primary" href="{% url 'jobcards:new_unplanned_job' %}"> New Unplanned Job</a>
            <table  class="table table-striped">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Number</td>
                        <td>Resolver</td>
                        <td>Requested</td>
                        <td>Machine</td>
                        <td>Problem Description</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for job in object_list %}
                        <tr>
                            <td>{{job.date}}</td>
                            <td>{{job.time}}</td>
                            <td>{{job.pk}}</td>
                            <td>{{job.resolver}}</td>
                            <td>{{job.requested_by}}</td>
                            <td>{{job.machine}}</td>
                            <td>{{job.description |truncatechars:40}}</td>
                            <td><a class="btn ntn-primary" href= "{% url 'jobcards:job_detail' pk=job.pk %}">View</a></td>
                        </tr>
                    {% endfor %}        
                </tbody>
            </table>
            
        </div>
    </div>
</div>
{% endblock %}
{% block body_script %}
$("#start_date").datepicker();
$("#end_date").datepicker();
{% endblock %}