{% extends "window.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 well ">
            <h3>New Work Order</h3>
            <form class="form-group" method="POST" action="" >
                {% csrf_token %}
                <table>
                {{form.as_table}}
                </table>
            <button type="submit" class="btn btn-primary">Submit Work Order</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block body_script %}
    var num_tasks = 0;    
    $("#id_execution_date").datepicker();

    //script to make sure the modal does not refresh the page
    
    function prepSectionUpdate(){
        var url = "{% url 'ajax:update_section' %}";
        var machine = $('#id_machine').val();
        var section = $('#id_section');
        updateSections(url, machine, section);
}


    function prepSubUnitUpdate(){
        var url = "{% url 'ajax:update_subunit' %}";
        var section = $('#id_section').val();
        var subunit = $('#id_subunit');
        updateSubUnits(url, section, subunit);
    }

    function prepSubAssemblyUpdate(){
        var url = "{% url 'ajax:update_subassembly' %}";
        var subunit = $('#id_subunit').val();
        var subassembly = $('#id_subassembly');
        updateSubAssemblies(url, subunit, subassembly);
    }

    function prepComponentUpdate(){
        var url = "{% url 'ajax:update_component' %}";
        var subassembly = $('#id_subassembly').val();
        var component = $('#id_component');
        updateComponents(url, subassembly, component);
    }
{% endblock %}