{% extends "window.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 well ">
            <h3>Planned Job Card</h3>
            <form class="form-group" method="POST" action="" >
                {% csrf_token %}
                <table>
                {{form.as_table}}
                </table>
            <button type="submit" class="btn btn-primary">Create Planned Job</button>
            </form>
        </div>            
        <div class="col-sm-4">
            <h4>Tasks:</h4>
            <div id="tasklist"></div>
            <p><textarea id="task" rows="3" cols="48"></textarea></p>
            <button type="button" onclick="addTask()" class="btn btn-warning">+ Add Task</button>
        </div>
    </div>
</div>
{% endblock %}
{% block body_script %}
    
    $("#id_scheduled_for").datepicker();

    function prepSectionUpdate(){
        var url = "{% url 'ajax:update_section' %}";
        var machine = $('#id_machine').val();
        var section = $('#id_section');
        updateSections(url, machine, section);
}


    function prepSubUnitUpdate(){
        var url = "{% url 'ajax:update_subunit' %}";
        var section = $('#id_section').val();
        var subunit = $('#id_subunit');
        updateSubUnits(url, section, subunit);
    }

    function addTask(){
        $.post("{% url 'checklists:add_task' %}", data={"task":$("#task").val()}, editTasks(data));

    }
{% endblock %}