{% extends "window.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 well">
                <p></p>
                <h4> Job Details </h4>
                <table>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>Jobcard ID:</td>
                            <td>{{object.id}}</td>
                        </tr>
                        <tr>
                            <td>Date created:</td>
                            <td>{{breakdown.date}}</td>
                        </tr>
                        <tr>
                            <td>Response Interval:</td>
                            <td>#create some interval</td>
                        </tr>
                        <tr>
                            <td>Date completed:</td>
                            <td>{{object.date}}</td>
                        </tr>
                        <tr>
                            <td>Requested by:</td>
                            <td>{{breakdown.requested_by}}</td>
                        </tr>
                        <tr>
                            <td>Resolved by:</td>
                            <td>{{object.resolver}}</td>
                        </tr>
                        <tr>
                            <td>Machine:</td>
                            <td>{{breakdown.machine}}</td>
                        </tr>
                        <tr>
                            <td>Sub-Unit:</td>
                            <td>{{breakdown.subunit}}</td>
                        </tr>
                        
                    </tbody>
                </table>
                <h4>Job Actions</h4>
                <table>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td>Description of problem:</td>
                            <td>{{breakdown.problem_description}}</td>
                        </tr>
                        <tr>
                            <td>Job actions:</td>
                            <td>{{object.resolver_action}}</td>
                        </tr>
                        <tr>
                            <td>Root Cause:</td>
                            <td>{{object.root_cause}}</td>
                        </tr>
                        <tr>
                            <td>Requested Components:</td>
                            <td>{{object.components_requested}}</td>
                        </tr>
                        <tr>
                            <td>Notes:</td>
                            <td>{{object.notes}}</td>
                        </tr>
                        <tr>
                            <td>Recommended Planned Maintenance:</td>
                            <td>{{object.recommended_pm}}</td>
                        </tr>     
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    

{% endblock %}