{% extends "window.html" %}
hello
{% block content %}

<div class="row" style="margin:5px;">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
        <button type="button" class="btn btn-primary">Print</button>    
    </div>
    
</div>
<div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <svg width="1000" height="600">
            <rect x="0" y="0" width="1000" height="600" style="fill:rgb(255,255,255)"></rect>
            <line x1="200" y1="300" x2="800" y2="300" stroke="black" stroke-width="8"></line>
            <line x1="0" y1="450" x2="200" y2="300" stroke="black" stroke-width="8"></line>
                <line x1="0" y1="450" x2="150" y2="450" stroke="black"></line>
                <line x1="60" y1="400" x2="210" y2="400" stroke="black"></line>
                <line x1="130" y1="350" x2="280" y2="350" stroke="black"></line>
            <line x1="0" y1="150" x2="200" y2="300" stroke="black" stroke-width="8"></line>
                <line x1="0" y1="150" x2="150" y2="150" stroke="black"></line>
                <line x1="60" y1="200" x2="210" y2="200" stroke="black"></line>
                <line x1="130" y1="250" x2="280" y2="250" stroke="black"></line>
            <line x1="200" y1="450" x2="400" y2="300" stroke="black" stroke-width="8"></line>
                <line x1="200" y1="450" x2="350" y2="450" stroke="black"></line>
                <line x1="60" y1="400" x2="210" y2="400" stroke="black"></line>
                <line x1="130" y1="350" x2="280" y2="350" stroke="black"></line>
            <line x1="200" y1="150" x2="400" y2="300" stroke="black" stroke-width="8"></line>
            <line x1="400" y1="450" x2="600" y2="300" stroke="black" stroke-width="8"></line>
            <line x1="400" y1="150" x2="600" y2="300" stroke="black" stroke-width="8"></line>
            <line x1="600" y1="450" x2="800" y2="300" stroke="black" stroke-width="8"></line>
            <line x1="600" y1="150" x2="800" y2="300" stroke="black" stroke-width="8"></line>
            <text x="800" y="310" font-size="30">{{title}}</text>
        </svg>    
    </div>
    
</div>
    
{% endblock %}