{% extends "window.html" %}
{% block content %}

<div class="container">
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">   
            <h2>Step 1. </h2>
            <h4>Select a breakdown to analyse...</h4> 
            <table class="table well">
                <thead>
                    <tr style="background-color:blue;color:white">
                        <td><b>Description</b></td>
                        <td><b>Resolver</b></td>
                        <td><b>Actions</b></td>
                    </tr>
                </thead>
                <tbody>
                    {% for breakdown in breakdowns %}
                    <tr>
                        <td>{{breakdown.description | truncatechars:120}}</td>
                        <td>{{breakdown.resolver}}</td>
                        <td><a>Analyse</a> | <a>View</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>            
        </div>
    </div>
    
</div>


{% endblock %}