{% extends "window.html" %}
{% block content %}
    <style>
                    div ul, li, span{
                            list-style-type: none; 
                        }
                        .subunit {
                            background-color: grey;
                            border-color: grey;
                        }

                        .subassy .subsub .components{
                            display: none;
                        }

                        div a {
                            color: white;
                        }
        </style>
    <div class="container-fluid">
            <div class="row">
                    <h2>Sub Unit Detail View</h2>
                    <hr />
                </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Children:</h3>
                <ul>
                    {% for sub in object.subassembly_set.all %}
                        <li><span class="btn btn-info" onclick = "reveal('#{{sub.unique_id|slugify}}')">{{sub.unit_name}} | <a href="{% url 'inventory:subassembly_details' sub.unique_id %}">Details</a></span>
                            <ul id="{{sub.unique_id|slugify}}" style="display:none;">
                            {% for component in sub.component_set.all %}
                                <li><span class="btn btn-primary">{{component.component_name}} | <a href="{% url 'inventory:component_details' component.unique_id %}" style="color: white;">Details</a></span></li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor%}    
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="well">
                <h3>{{object.unit_name}}</h3>
                <p>Machine: {{object.machine}}</p>
                <p>Section: {{object.section}}</p>
                 
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_script %}
    function reveal(cls){
        if($(cls).css("display") == "block"){
            $(cls).css("display", "none");
        }else{
            $(cls).css("display", "block");
        }   
    }


{% endblock %}