{% extends "window.html" %}
{% block content %}
<div class="container-fluid">
    <h3>Planned Maintenance:</h3>
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-primary" href="{% url 'checklists:create_checklist' %}">New Checklist</a>
            <a class="btn btn-primary" href="{% url 'jobcards:new-preventative-task' %}">New Planned Job</a>
        </div>
    </div>
    <hr />
    <div class="row">
            <div class="col-sm-12">
                {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="previous"><a href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                    {% else %}
                    <li class="disabled"><span>Previous</span></li>
                    {% endif %}
        
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="active"><span>{{i}}</span></li>
                        {% else %}
                        <li><a href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="next"><a href="?page={{page_obj.next_page_number}}">Next</a></li>
                    {% else %}
                    <li class="disabled"><span>Next</span></li>
                    {% endif %}
                    
                </ul>
                {% endif %}
            </div>
   
    <div class="row">
        <div class="col-sm-3 bg-info" >
            
            <form action="" method="GET" role="form">
                <legend>Filters</legend>
            
                <div class="form-group">
                    <table>
                        {{form.as_table}}
                    </table>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
            
        </div>
        <div class="col-sm-9 well">
            <h4>Planned Jobs:</h4>
            <table class="table">
                <thead>
                    <tr>
                        <td>
                        Type
                        </td>
                        <td>Status</td>
                        <td>Resolver</td>
                        <td>Machine</td>
                        <td>Description</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                
            {% for item in object_list %}
                {% if item.get_type == "job" %}
                <tr>
                    <td><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></td>
                    <td>{% if item.is_open %}Open{% else %}Complete{% endif %}</td>
                    <td>{{item.assignments.first }}</td>
                    <td>{{item.machine}}</td>
                    <td>{{item.description | truncatechars:40}}</td>
                    <td>
                        <a href="{% url 'jobcards:preventative-task-detail' pk=item.pk %}">Details</a> |
                        <a href="{% url 'jobcards:edit-preventative-task' pk=item.pk %}">Edit</a> |
                        <a href="{% url 'jobcards:delete-preventative-task' pk=item.pk %}">Delete</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                        <td>{% if item.is_open %}Open{% else %}Complete{% endif %}
                        <td>{{item.resolver}}</td>
                        <td>{{item.machine}}</td>
                        <td>{{item.title | truncatechars:40}}</td>
                        <td>
                            <a href="{% url 'checklists:checklist_details' item.pk %}">Details</a> |
                            <a href="{% url 'checklists:update_checklist' item.pk %}">Edit</a> | 
                            <a href="{% url 'checklists:delete_checklist' item.pk %}">Delete</a>
                            
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block body_script %}
$("#id_start_date").datepicker();
$("#id_end_date").datepicker();
{% endblock %}
            